// Define variables for your color scheme

// For example:

$artichoke-cream: #FAF8EB;
$artichoke-purple: #A359A0;
$artichoke-grey: #333333;
$artichoke-green: #E5F1DA;
$artichoke-background: #F0F7EA;
