.footer-artichoke {
    position: relative;
    padding: 30px 0;
    background-color: $artichoke-cream;
  }
  
  .footer h3 {
    color: black !important;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .footer p {
    color: black;
    margin-bottom: 20px;
    font-size: 16px;
  }
  