<div class="container-fluid footer-artichoke mt-5">
  <footer class="p-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>About us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Who we are</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Jobs</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Support</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Buying on Artichoke</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Selling on Artichoke</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Contact us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">London, UK</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">T: +44 7777 666 999</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">E: info@artichoke.co.uk</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>A weekly digest of new artworks and collections.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2023 Artichoke</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
        <li class="ms-3"><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
        <li class="ms-3"><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
      </ul>
    </div>
  </footer>
</div>

<%# <footer class="footer-artichoke">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3><a href="#">About Us</h3></a>
        <p> Find out more about our mission and the team behind it.</p>
      </div>
      <div class="col-md-3">
        <h3><a href="#">Blog</h3></a>
        <p> Find out more through our opinion pieces.</p>
      </div>
      <div class="col-md-3">
        <h3><a href="#">Contact Us</h3></a>
        <p>London, UK <br> Phone: 0044 7777 666 999<br> Email: info@artichoke.co.uk</p>
      </div>
      <div class="col-md-3">
        <h3><a href="#">Follow Us</h3></a>
        <ul class="social">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer> %>
