<footer class="footer-artichoke">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3><a href="#">About Us</h3></a>
        <p> Find out more about our mission and the team behind it.</p>
      </div>
      <div class="col-md-3">
        <h3><a href="#">Blog</h3></a>
        <p> Find out more through our opinion pieces.</p>
      </div>
      <div class="col-md-3">
        <h3><a href="#">Contact Us</h3></a>
        <p>London, UK <br> Phone: 0044 7777 666 999<br> Email: info@artichoke.co.uk</p>
      </div>
      <div class="col-md-3">
        <h3><a href="#">Follow Us</h3></a>
        <ul class="social">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
