<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="card-container-homepage">
  <div class="collection-card-big">
    <h2>New & Noteworthy</h2>
  </div>
  <img src="https://mollybright.com/wp-content/uploads/2022/10/22890414673_6d5c32cfec_o.jpg">
</div>
