<div class="page-container page-margin">
  <div class="card-container-homepage container">
    <div class="collection-card-big row col-7">
      <img src="https://mollybright.com/wp-content/uploads/2022/10/22890414673_6d5c32cfec_o.jpg">
      <h2>New & Noteworthy</h2>
      <div class="text-content" style="display:none">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium fuga natus aperiam esse dolorum delectus voluptatum iure aspernatur doloremque, aliquam nostrum ipsa debitis optio saepe quos! Natus magnam harum tenetur.</p>
      </div>
    </div>
    <div class="collection-card-small row col-5">
      <img src="https://mollybright.com/wp-content/uploads/2022/10/22890414673_6d5c32cfec_o.jpg">
      <h2>Bold Bids $1000+</h2>
    </div>
  </div>
  <div class="card-container-homepage container">
    <div class="collection-card-small row col-5">
      <img src="https://mollybright.com/wp-content/uploads/2022/10/22890414673_6d5c32cfec_o.jpg">
      <h2>Gems Under $500</h2>
    </div>
    <div class="collection-card-big row col-7">
      <img src="https://mollybright.com/wp-content/uploads/2022/10/22890414673_6d5c32cfec_o.jpg">
      <h2>Gallery Repped Artists</h2>
    </div>
  </div>
</div>
