.artist-info-card {
  border: 1px solid $artichoke-purple;
  border-radius: 4px;
  margin-bottom: 8px;

  p {
    color: $artichoke-grey;
  }
}

.artist-info-card:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  transition: 0.3s;
}

.artwork-details {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $artichoke-purple;

  p {
    margin: 0;
  };
}
