.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-container-homepage {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  justify-content: space-around;
}

.collection-card-big, .collection-card-small {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: $border-radius;
  height: 100%;
}

.collection-card-big:before,
.collection-card-small:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.collection-card-big:hover:before,
.collection-card-small:hover:before {
  opacity: 1;
}

.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $artichoke-background;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.collection-card-big:hover .text-content,
.collection-card-small:hover .text-content {
  opacity: 1;
}

.collection-card-big h2 {
  position: absolute;
  top: 8px;
  left: 8px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  padding: 8px;
  color: $artichoke-background;
}

.collection-card-small h2 {
  position: absolute;
  top: 8px;
  left: 8px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  padding: 8px;
  color: $artichoke-background;
}
