.filter-container {
  border: 1px solid $artichoke-purple;
  border-radius: 4px;
  padding: 16px;
}

.filter-parameter-container {
  display: flex;
  flex-direction: column;
}

.filter-row {
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
}

.filter-class {
  color: red;
}
