.navbar-artichoke {
  justify-content: space-between;
  background: $artichoke-green;
  padding: 20px 10px;
}

.navbar-artichoke .navbar-collapse {
  flex-grow: 0;
}

.navbar-artichoke .navbar-brand img {
  width: 300px;
}

.navbar-icon {
  width: 50px;
}

.icon-purple {
  color: $artichoke-purple;
  font-size: 2rem;
}

.navbar-artichoke .search-bar {
  width: 550px;
  height: 50px;
  display: flex;
  box-decoration-break: clone;
  border-style: hidden;
  border-radius: 0 5px 5px 0;
  align-items: center;
}

.navbar-artichoke .search-button {
  background-color: $artichoke-purple;
  height: 40px;
  border: none;
  border-radius: 5px 0 0 5px;
  color: white;
  font-size: 1.5rem;
  padding: 5px 10px;
}

.navbar-artichoke .search-input {
  flex-grow: 1;
  height: 40px;
  width: 350px;
  box-decoration-break: clone;
  border: 1px solid $artichoke-purple;
  border-radius: 0 5px 5px 0;
  background-color: white;
}

.navbar-artichoke button:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  transition: 0.3s;
}

.form-control:focus {
  box-shadow: none;
}