.navbar-artichoke {
  justify-content: space-between;
  background: $artichoke-green;
  padding: 20px 10px;
}

.navbar-artichoke .navbar-collapse {
  flex-grow: 0;
}

.navbar-artichoke .navbar-brand img {
  width: 300px;
}

.navbar-icon {
  width: 50px;
}

.icon-purple {
  color: $artichoke-purple;
  font-size: 2rem;
}

.navbar-artichoke .search-bar {
  width: 365px;
}

.navbar-artichoke .search-input {
  border: 1px solid $artichoke-purple;
  border-radius: 5px;
  background: $artichoke-green;
}

.navbar-artichoke button:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  transition: 0.3s;
}
