.flexbox {
  display: flex;
  justify-content: space-around;
}

.user-profile-card {
  border-bottom: 1px solid $artichoke-purple;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.user-profile-photo {
  align-items: center;
}

.user-profile-info {
  margin-top: 16px;
  margin-left: 8px;
}

.user-profile-info p {
  margin-bottom: 0px;
}

.bio-container {
  margin-left: 80px;
  margin-right: 80px;
}

.artworks-container {
  margin-top: 16px;
}

.bio-card {
  text-align: justify;
}

.bid-card {
  height: 280px;
}

.bid-card img {
  max-height: 66%;
  object-fit: contain;
}
